<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="./js/view.js"></script>
    <title>SSU Menu</title>
  </head>
  <body>
    <main>
      <div class=wrap>
        <div class="img" style="background-image: url(../<%= path %>);">
          <svg id=svg>
            <% for (var i = 1; i < position.length; i++) { %>
            <% 
              var rx =  position[i].boundingPoly[0].x /  width * 100
              var ry =  position[i].boundingPoly[0].y /  height * 100
              var rwidth = (position[i].boundingPoly[1].x - position[i].boundingPoly[0].x) / width * 100;
              var rheight = (position[i].boundingPoly[2].y - position[i].boundingPoly[0].y) / height * 100;
            %>
            <rect id = "rect<%= i %>" x="<%= rx %>%" y="<%= ry %>%" width="<%= rwidth %>%" height="<%= rheight %>%"/>
            <text id = text x="50" y="60" dx="10" dy="15">
            </text>
            <% } %>
          </svg>
        </div>
      </div>
    </main>

    <footer>
      </div>
      <div class="top">
        <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
